<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.sys.mapper.GoodsMapper">
    <resultMap id="BaseResultMap" type="com.kang.sys.entity.Goods" >

    </resultMap>

    <insert id="addGoods" parameterType="com.kang.sys.entity.Goods">
      INSERT INTO goods (goods_name, goods_number,goods_category, goods_colours, goods_models, goods_buyreprice,goods_salereprice,goods_detailedDescription,goods_manufacturer,insert_user, insert_time,uid)
          VALUES (#{goodsName}, #{goodsNumber},#{goodsCategory}, #{goodsColours}, #{goodsModels},#{goodsBuyreprice},#{goodsSalereprice},#{goodsDetaileddescription},#{goodsManufacturer},#{insertUser},now(),#{uid})
    </insert>

    <update id="updateGoods" parameterType="com.kang.sys.entity.Goods">
        UPDATE goods
        <trim prefix="set" suffixOverrides=",">
            <if test="goodsName!=null">goods_name=#{goodsName},</if>
            <if test="goodsNumber!=null">goods_number=#{goodsNumber},</if>
            <if test="goodsCategory!=null">goods_category=#{goodsCategory},</if>
            <if test="goodsColours!=null">goods_colours=#{goodsColours},</if>
            <if test="goodsStatus!=null">goods_status=#{goodsStatus},</if>
            <if test="goodsModels!=null">goods_models=#{goodsModels},</if>
            <if test="goodsBuyreprice!=null">goods_buyreprice=#{goodsBuyreprice},</if>
            <if test="goodsSalereprice!=null">goods_salereprice=#{goodsSalereprice},</if>
            <if test="goodsDetaileddescription!=null">goods_detailedDescription=#{goodsDetaileddescription},</if>
            <if test="goodsManufacturer!=null">goods_manufacturer=#{goodsManufacturer},</if>
            <if test="updateUser!=null">update_user=#{updateUser},</if>
        </trim>
        ,update_time= now()
        WHERE goods_id=#{goodsId}
    </update>

</mapper>
