<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.sys.mapper.PaymentMapper">


    <insert id="addPayment" parameterType="com.kang.sys.entity.Payment">
      INSERT INTO payment ( payment_price,payment_time,supplier_id, payment_method,payment_account_id,insert_user,insert_time,uid)
        VALUES (#{paymentPrice} ,#{paymentTime}, #{supplierId}, #{paymentMethod}, #{paymentAccountId},#{insertUser}, now(),#{uid})
    </insert>
</mapper>
